# for presentation
fastapi
uvicorn[standard]
pyyaml
python-decouple

# for business logic
pydantic
pydantic[email]
sqlalchemy
python-multipart
requests

# for database
pymysql

# for authentication
passlib[bcrypt]
python-jose[cryptography]

# for linting
pre-commit
flake8
flake8-docstrings
flake8-import-order

# for testing
httpx
pytest
pytest-cov